button{
    background-color:green;
    width:100%;
    height:40px;
    border:none;
    font-size:20px;
}
button:hover{
    background-color:rgb(31, 167, 31);
    width:100%;
    height:40px;
    border:none;
}
